pyyaml==6.0.3
numpy==2.2.6
pandas==2.3.3
matplotlib==3.10.8
scikit-learn==1.7.2
pillow==12.1.1
opencv-python==4.13.0.92
tqdm==4.67.3
torchinfo==1.8.0

torch==2.8.0
torchvision==0.23.0

onnx==1.21.0
onnxruntime==1.23.2
onnxsim==0.6.2
onnxconverter-common==1.16.0

loguru==0.7.3
python-dotenv==1.0.0
pytest==8.2
setuptools>=42
wheel
autopep8
